<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/utilities.css">
    <link rel="stylesheet" href="./css/signup.css">
    <title>GZone | Online Store</title>
</head>

<body class="bg-black">
    <div class="container">
        <a href="/"><h1 class="text-center text-danger">GZone Online Store</h1></a>
        <div class="content p-1 my-1">
        <h2 class="text-center text-light my-1">Create an Account</h2>
        <% if (messages.error) { %>
            <p class="text-center text-danger py-1"><%= messages.error %></p>
        <% } %>
        <form action="/signup" method="POST">
            <label class="text-light" for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="Username" required><br><br>
            <label class="text-light" for="email">Email Address</label><br>
            <input type="email" name="email" id="email" placeholder="Email Address" required><br><br>
            <label class="text-light" for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br><br>
            <label class="text-light" for="confirmPassword">Confirm Password</label><br>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                required><br><br>
            <button class="btn btn-danger" type="submit">Sign Up</button>
        </form>
        <p class="text-light py-1">Already have an account ? <a href="/login" class="text-danger">Click here to login.</a></p>
        </div>
    </div>
</body>

</html>