/* Footer */
.footer{
    grid-template-columns: repeat(2, 1fr);
}

@media all and (max-width: 767px){
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
}

footer ul{
    list-style: none;
}

.bg-footer{
    background-color: #111;
}

.fa{
    font-size: 1.5rem;
}

@media all and (min-width: 768px){
    .footer-fixed{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}