<footer class="bg-footer">
    <div class="container">
        <div class="grid p-1 footer">
            <div>
                <h2 class="text-danger">GZone | Online Store</h2>
                <p class="text-light py-1">By Gamers, For Gamers</p>
            </div>
            <div>
                <ul>
                    <li><a class="text-light" href="#">Home</a></li>
                    <li><a class="text-light" href="#">Popular Games</a></li>
                    <li><a class="text-light" href="#">Latest Trailers</a></li>
                    <li><a class="text-light" href="#">Products</a></li>
                </ul>
            </div>
        </div>
        <hr class="text-light">
        <div class="flex flex-row justify-center py-1">
            <a href="#" class="fa fa-facebook text-light px-1"></a>
            <a href="#" class="fa fa-twitter text-light px-1"></a>
            <a href="#" class="fa fa-instagram text-light px-1"></a>
        </div>
        <p class="text-center text-light py-1"><i class="fas fa-copyright"></i> GZone Online Store. All Rights Reserved.</p>
    </div>
</footer>